/*  font-family: 'Righteous', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Righteous', cursive;
}

main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 1rem;

    background-image: url(https://images.unsplash.com/photo-1508962914676-134849a727f0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    background-repeat: no-repeat;
    background-size: cover;

}
main::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(18px);
    
}
main > div {
    z-index: 999;
}
main > div > h2 {
    background: white;
    padding: 0.2rem 0.5rem;
    border-bottom: 2px solid #000;
    border-top: 4px solid #000;
    border-radius: .1em;
}
.container {
    display: flex;
    z-index: 999;
}
div > h2 {
    font-size: 2.5rem;
    color: #262626;
}
div > p {
    background: black;
    padding: .2rem .5rem;
    border-radius: 99pc;
    color: #fff;
}
.container > div {
    text-align: center;
    background: #ffffff;
    padding: 1rem 2rem;
    margin: .3em;
    border-radius: .3em;
    border-top: 4px solid #000000;
    border-bottom: 2px solid #000000;
}
.container > div:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

@media (max-width: 660px) {
    .container {
        flex-direction: column;
    }
}